<p>dashboard works!</p>
<mat-divider></mat-divider>
<div>
    line chart
</div>
<div>
    <p>Types of Essays</p>


    <p>The type of essay will depend on what the writer wants to convey to his reader. There are broadly four types of essays. Let us see.</p>

    <p>Narrative Essays: This is when the writer is narrating an incident or story through the essay. So these are in the first person. The aim when writing narrative essays is to involve the reader in them as if they were right there when it was happening. So make them as vivid and real as possible. One way to make this possible is to follow the principle of ‘show, don’t tell’. So you must involve the reader in the story.</p>
    <p>Descriptive Essays: Here the writer will describe a place, an object, an event or maybe even a memory. But it is not just plainly describing things. The writer must paint a picture through his words. One clever way to do that is to evoke the senses of the reader. Do not only rely on sight but also involve the other senses of smell, touch, sound etc. A descriptive essay when done well will make the reader feel the emotions the writer was feeling at the moment.</p>
    <p>Expository Essays: In such an essay a writer presents a balanced study of a topic. To write such an essay, the writer must have real and extensive knowledge about the subject. There is no scope for the writer’s feelings or emotions in an expository essay. It is completely based on facts, statistics, examples etc. There are sub-types here like contrast essays, cause and effect essays etc.</p>
    <p>Persuasive Essays: Here the purpose of the essay is to get the reader to your side of the argument. A persuasive essay is not just a presentation of facts but an attempt to convince the reader of the writer’s point of view. Both sides of the argument have to presented in these essays. But the ultimate aim is to persuade the readers that the writer’s argument carries more weight.</p>
    <p>Body

        This is the main crux of your essays. The body is the meat of your essay sandwiched between the introduction and the conclusion. So the most vital and important content of the essay will be here. This need not be confined to one paragraph. It can extend to two or more paragraphs according to the content.
        
        Usually, we have a lot of information to provide in the body. And the mistakes writers generally make is to go about it in a haphazard manner which leaves the reader confused. So it is important to organize your thoughts and content. Write the information in a systematic flow so that the reader can comprehend. So, for example, you were narrating an incident. The best manner to do this would be to go in a chronological order.</p>
</div>
