<mat-nav-list>
    <div class="profile">
        <div class="header">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg" alt="profile Pic">
        <p>Welcome {{username}} !</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader style="color: white;">Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'><button mat-icon-button><mat-icon>dashboard</mat-icon></button>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/message"><button mat-icon-button><mat-icon>message</mat-icon></button>Messages</a>
</mat-nav-list>

