table {
    width: 100%;
    
  }
  .flex{
    margin: 5px;
  }

  td{
    cursor: pointer;
  }
  .mat-row:hover {
    /* background-color: rgb(211, 225, 240); */
    background-color: #E8EAF6;
  }

  .example1-icon:hover {
    background-color: #ff4081; 
    color: white;
  }
  .example1-icon{
    background-color: #3d57ce; 
    color: white;
  }
  textarea{
    width: 100%;
  }
  mat-card-content{
    margin-top: 5px;
  }
  .logout {
    transition-duration: 0.4s;
  }
  
  .logout:hover {
    background-color: #ff4081; 
    color: white;
  }

  .selected {
    background-color: #E8EAF6;
  }

  /* .cardHeader {
    padding: 5px;
    padding-top: 10px;
  } */

  .mat-card{
    padding: 0px;
  }
  .mat-card-content{
    padding: 15px;
  }

  :host /deep/ .mat-card-header-text {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    background:  #3f51b5;
    color: white;
    /* padding: 10px; */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}