
<div >
<mat-toolbar class="mat-toolbar" color="primary">
    <button mat-icon-button class="example-icon"  (click)="sidenav()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-raised-button class="example-icon logout" color="primary" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>share</mat-icon> -->
      Logout
    </button>
  </mat-toolbar>
  <p>Home works!</p>
</div>